@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}
html,
body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
